{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}
{% block head %}
<style>
    body {
        font-family: "Kanit", sans-serif;
        font-size: 16px;
    }
    
    .link {
        transition: transform 0.3s ease, color 0.3s ease;
        color: #494949;
    }

    .link:hover {
        color: #15CDCB;
        transform: scale(1.05);
    }

    .profile {
        background: linear-gradient(to right, #5280E2, #15CDCB);
        transition: transform 0.3s ease;
    }

    .profile:hover {
        transform: scale(0.95);
    }

    .personal {
        font-size: 48px;
        color: #3E5279;
    }

    .boxbox {
        box-shadow: 0px 0px 30.2px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .edit {
        background: linear-gradient(to right, #5280E2, #15CDCB);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .edit:hover {
        transform: scale(0.95);
    }

    .cancel {
        color: #494949;
        background-color: white; /* Inner background color */
        border-radius: 50px;
        border: 1px solid var(--Linear, #5280E2);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .cancel:hover {
        transform: scale(0.95);
    }

    .name {
        color: #494949;
    }

    .camera {
        transition: transform 0.3s ease;
    }

    .camera:hover {
        transform: scale(0.95);
    }
</style>
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'patient:profile-edit' user.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container w-full mx-auto mt-14 fade-in">
        <h1 class="personal text-5xl font-medium text-center mb-8">แก้ไขข้อมูลส่วนตัว</h1>

        
        <div class="flex flex-col md:flex-row items-start justify-between fade-in px-24">
            <!-- Box for Profile Picture -->
            <div class="bg-white mt-8 w-fit px-10 pt-8 pb-14 boxbox mx-auto">
                <div class="flex flex-col items-center relative">
                    {% if patient.patient_image %}
                    <img src="{{ patient.patient_image.url }}" alt="Profile Picture" class="w-64 h-64 rounded-full object-cover" id="profilePicture">
                    {% else %}
                    <img src="{% static 'image/profile-user.png' %}" alt="Default Profile Picture" class="w-64 h-64 rounded-full object-cover" id="profilePicture">
                    {% endif %}
                    
                    <!-- ไอคอนกล้อง -->
                    <div class="camera absolute top-24 p-4 bg-gray-700 bg-opacity-50 rounded-full cursor-pointer" onclick="document.getElementById('uploadPicture').click();">
                        <img src="{% static 'image/camera.png' %}" alt="Camera Icon" class="w-12 h-12">
                    </div>
                    
                    <!-- ไฟล์อัปโหลดที่ซ่อน -->
                    <input type="file" accept="image/*" id="uploadPicture" name="patient_image" onchange="previewImage(event)" class="absolute opacity-0 cursor-pointer">
                    
                    <div class="mt-5">
                        <span class='text-2xl text-[#494949] font-medium h-10 w-56 mt-4'>{{ patient.prefix }}</span> 
                        <span class='text-2xl text-[#494949] font-medium h-10 w-56 mt-4'>{{ user.first_name }}</span>
                        <span class='ml-3 text-2xl text-[#494949] font-medium h-10 w-56 mt-4'>{{ user.last_name }}</span>
                    </div>
                </div>
            </div>
            
            <!-- Form Inputs -->
            <div class="grid grid-cols-2 gap-x-20 gap-y-2 ml-4 mt-10 mx-auto">
                <div>
                    <label class="block name" for="personalId">รหัสบัตรประชาชน</label>
                    <span class="cursor-default">{{ user.username }}</span> 
                </div>
                <div>
                    <label class="block name" for="patientId">รหัสผู้ป่วย</label>
                    <span class="cursor-default">{{ user.id }}</span> 
                </div>
                <div>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <label class="block name" for="phone">เบอร์โทร</label>
                    <input class="h-8 border-b-2 border-gray-300 focus:outline-none focus:border-black mb-4" id="phone" name="phone" type="text" value="{{ patient.phone }}" placeholder="เบอร์โทร">
                </div>
                <div>
                    <label class="block name" for="nationality">สัญชาติ</label>
                    {{ form.nationality }}
                </div>
                <div>
                    <label class="block name" for="gender">เพศ</label>
                    {{ form.gender }}
                </div>
                <div>
                    <label class="block name" for="dob">วันเกิด</label>
                    <span class="cursor-default">{{ patient.DOB|date:"d-m-Y" }}</span>
                </div>
                <div>
                    <label class="block name" for="height">ส่วนสูง</label>
                    {{ form.height }}
                </div>
                <div>
                    <label class="block name" for="weight">น้ำหนัก</label>
                    {{ form.weight }}
                </div>
                <div>
                    <label class="block name" for="bloodType">กรุ๊ปเลือด</label>
                    {{ form.blood_group }}
                </div>
                <div>
                    <label class="block name" for="allergy">ภูมิแพ้</label>
                    {{ form.allergy }}
                </div>
                <div>
                    <label class="block name" for="address">ที่อยู่</label>
                    {{ form.address }}
                </div>            
            </div>
        </div>

        <div class="flex justify-end pr-20 pt-16 pb-8 space-x-5">
            <button type="submit" name="cancel" class="cancel py-5 px-14 rounded-full inline-flex items-center">
                    <span>ยกเลิก</span>
            </button>

            <button type="submit" name="save" class=" text-white py-5 px-12 rounded-full inline-flex items-center bg-gradient-to-r from-[#5280e2] to-[#15cdcb] hover:from-[#15CDCB] hover:to-[#15CDCB] hover:scale-[0.98] transition-opacity transition-transform duration-500 ease-in-out">
                <span>บันทึก</span>
                <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
        
    </div>
</form>

<script>
    function previewImage(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        const imagePreview = document.getElementById('profilePicture');

        reader.onload = function(e) {
            imagePreview.src = e.target.result; // Show the uploaded image
        };
        if (file) {
            reader.readAsDataURL(file); // Read the file as a Data URL
        }
    }
</script>
{% endblock %}
