{% extends 'layout.html' %}
{% load static %}

{% block title %}
    profile
{% endblock %}
{% block head %}
<style>
    body{
        font-family: "Kanit", sans-serif;
        font-size: 16px;
    }
    
    .link{
        transition: transform 0.3s ease, color 0.3s ease;
        color: #494949;
    }

    .link:hover{
        color: #15CDCB;
        transform: scale(1.05);
    }

    .profile{
        background: linear-gradient(to right, #5280E2, #15CDCB);
        transition: transform 0.3s ease;
    }

    .profile:hover{
        transform: scale(0.95);
    }

    .personal{
        font-size: 48px;
        color: #3E5279;
    }

    .boxbox{
        box-shadow: 0px 0px 30.2px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .edit{
        background: linear-gradient(to right, #5280E2, #15CDCB);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .edit:hover{
        transform: scale(0.95);
    }

    .name{
        color: #909090;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(-20px); /* ย้ายขึ้นจากตำแหน่งเริ่มต้น */
        transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
    }

    .fade-in-active {
        opacity: 1;
        transform: translateY(0); /* กลับสู่ตำแหน่งปกติ */
    }
    
    .suzy{
        color: #494949;
    }

</style>
{% endblock %}

{% block content %}
    <div class="container mx-auto w-full fade-i">
        <h1 class="personal font-medium text-center mb-6 mt-10">ข้อมูลส่วนตัว</h1>
        
        <div class="boxbox bg-white w-fit pt-8 pb-12 px-16 mx-auto fade-i">
            <div class="flex flex-col items-center">
                {% if patient.patient_image %}
                    <img src="{{ patient.patient_image.url }}" alt="Profile Picture" class="w-64 h-64 rounded-full object-cover" id="profilePicture">
                {% else %}
                    <img src="{% static 'image/profile-user.png' %}" alt="Default Profile Picture" class="w-64 h-64 rounded-full object-cover" id="profilePicture">
                {% endif %}
                <h1 class="suzy text-2xl font-medium mt-5 fade-i">{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="name mb-8 fade-i">รหัสผู้ป่วย {{ user.id }}</p>
 
                <form method="POST" action="{% url 'patient:profile' user.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="text-xl text-white py-3 px-14 rounded-full inline-flex items-center bg-gradient-to-r from-[#5280e2] to-[#15cdcb] hover:from-[#15CDCB] hover:to-[#15CDCB] hover:scale-[0.98] transition-opacity transition-transform duration-500 ease-in-out">
                        <span>แก้ไข</span>
                        <svg class="w-4 h-4 ml-1 mt-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </button>
                </form>

            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // เลือกทุกองค์ประกอบที่คุณต้องการให้เฟด
            const elements = document.querySelectorAll('.fade-in');

            // เพิ่มคลาสเพื่อทำให้เฟด
            setTimeout(() => {
                elements.forEach(element => {
                    element.classList.add('fade-in-active');
                });
            }, 100); // รอ 100ms ก่อนเริ่มเฟด
        });
    </script>
{% endblock %}