@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

.shadow-box {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.border-gradient {
    background: linear-gradient(#f9f9f9, #f9f9f9) padding-box,
              linear-gradient(to right, #5280e2, #15cdcb) border-box;
    border: 1px solid transparent;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.border-gradient:hover {
    background: linear-gradient(#15cdcb, #15cdcb) padding-box,
              linear-gradient(to right, #15cdcb, #15cdcb) border-box;
    border: 1px solid transparent;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}