{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}
{% block head %}
    <style>
        .bgwhite {
            border-radius: 50px 0px 0px 50px;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none; /* Hide icon */
        }

        input[type="date"] {
            -moz-appearance: textfield; /* Disable appearance in Firefox */
            appearance: none; /* Disable appearance in other browsers */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container w-full h-[1300px] mx-auto bg-gradient-to-b from-[#5280E2] to-[#15CDCB] flex">
        <div class="bgwhite bg-white w-[1200px] h[1300px] ml-auto relative flex justify-center">

            <div class="flex flex-col mt-[100px] items-center absolute">
                <div class="mb-8">
                    <h1 class="text-[#3E5279] text-5xl font-medium">ลงทะเบียนผู้ป่วยรายใหม่</h1>
                </div>

                <div class="flex items-center">
                    <div class="">
                        <p class="bg-[#15CDCB] text-white rounded-full w-12 h-12 flex ml-3 items-center justify-center">1</p>
                        <p class="text-[#494949]">รายละเอียด</p>
                    </div>
                    <div class="w-28 h-[2px] bg-[#C8C8C8] mx-3"></div> <!-- Horizontal line -->
                    <div>
                        <p class="bg-[#15CDCB] text-white rounded-full w-12 h-12 flex ml-3 items-center justify-center">2</p>
                        <p class="text-[#494949]">ยืนยันข้อมูล</p>
                    </div>
                </div>                      
                    
                <div class="flex flex-col mt-[300px] ml-0 absolute left-0 pl-8"> <!-- Pushed to the left -->
                    <div class="text-[#494949] space-y-5">
                        <p>ชื่อ-นามสกุล : {{ first_name }} {{ last_name }}</p>
                        <p>รหัสบัตรประชาชน : {{ personalID }}</p>
                        <p>เบอร์โทร : {{ phone }}</p>
                        <p>สัญชาติ : {{ nationality }}</p>
                        <p>เพศ : {{ gender }}</p>
                        <p>วันเกิด : {{ DOB }}</p>
                        <p>ส่วนสูง : {{ height }} ซม.</p>
                        <p>น้ำหนัก : {{ weight }} กก.</p>
                        <p>กรุ๊ปเลือด : {{ blood_group }}</p>
                        <p>ภูมิแพ้ : {{ allergy }}</p>
                        <p>ที่อยู่ : {{ address }}</p>
                    </div>
                </div>

                <form method="post" action="{% url 'authen:validation' %}">  <!-- Added form tag -->
                    {% csrf_token %}
                    <div class="flex justify-end pr-20 pt-16 pb-8 space-x-5">
                        <button type="submit" id="cancel" name="cancel" class="cancel py-5 px-14 rounded-full inline-flex items-center">
                            <span>ยกเลิก</span>
                        </button>

                        <button type="submit" id="save" name="save" class="edit  py-5 px-12 rounded-full inline-flex items-center">
                            <span>บันทึก</span>
                            <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </button>
                    </div>
                </form>  <!-- Close form tag -->

            </div>
        </div>
    </div>

{% endblock %}
