{% extends 'layout.html' %}
{% load static %}

{% block title %}
    appointment today
{% endblock %}

{% block content %}
<div class="container-full flex flex-col justify-center items-center">

    <div class="container pl-10 pt-10 flex justify-between items-center">
        <div class="flex justify-center items-end space-x-10">
            <p class="text-[48px] font-semibold text-[#3E5279]">คิวพบแพทย์</p>
            <p class="text-[20px] text-[#494949] mb-[10px] ">วันที่ {{ today }}</p>
        </div>
        <div class="flex space-x-5 justify-center items-center">
            <div class="relative w-[400px]">
                <input type="text" class="duration-300 transition ease-in-out delay-150 text-[16px] w-full rounded-full bg-[#EFEFEF] text-[#494949] px-5 py-3 pr-14 focus:outline-none focus:border-[#15cdcb] focus:ring-2 focus:ring-[#15cdcb]" placeholder="ค้นหา">
                <img src="{% static 'image/magnifying-glass.png' %}" class="absolute right-6 top-1/2 transform -translate-y-1/2 w-5 h-5">
            </div>
            <div id="search1" class="hover:from-[#15CDCB] hover:to-[#15CDCB] duration-300 hover:scale-110 transition ease-in-out delay-150 bg-gradient-to-r from-[#5280e2] to-[#15cdcb] flex justify-center rounded-full items-center w-[100px] h-[35px] p-[2px]">
                <button id="search2" class="text-[#494949]duration-300 transition ease-in-out delay-150 w-full h-full flex flex justify-center items-center bg-white px-7 py-2 text-center rounded-full text-[#494949] text-[16px]">ค้นหา</button>
            </div>
        </div>
    </div>

    <div class="container flex flex-col px-10 py-5">
        <p class="text-[#909090]">รายชื่อแพทย์ที่ประจำการอยู่ ณ ตอนนี้</p>
        <div class="flex space-x-5 py-4">
            <a href="?department=ทั้งหมด" class=" rounded-[50px] inline-flex items-center px-5 py-2
           {% if selected_department == 'ทั้งหมด' %} bg-[#15CDCB] text-white cursor-default {% else %} text-[#909090] hover:bg-[#E1F6F5] hover:scale-110 duration-300 transition ease-in-out delay-150 bg-[#efefef] {% endif %}">
                <div class="text-center text-base font-normal">ทั้งหมด</div>
            </a>

            <a href="?department=กระดูก" class=" rounded-[50px] inline-flex items-center space-x-3 px-4 py-2
            {% if selected_department == 'กระดูก' %} text-white cursor-default  bg-[#15CDCB] no-hover {% else %} text-[#909090] hover:bg-[#E1F6F5] hover:scale-110 duration-300 transition ease-in-out delay-150 bg-[#efefef] {% endif %}">
                <img src="{% static 'image/bone.png' %}" width="22" height="22" class="{% if selected_department == 'กระดูก' %} brightness-200 {% endif %}">
                <div class="text-center text-base font-normal">กระดูก</div>
            </a>

            <a href="?department=เด็ก" class=" rounded-[50px] inline-flex items-center space-x-3 px-4 py-2
            {% if selected_department == 'เด็ก' %} text-white cursor-default  bg-[#15CDCB] {% else %} text-[#909090] hover:bg-[#E1F6F5] hover:scale-110 duration-300 transition ease-in-out delay-150 bg-[#efefef] {% endif %}">
                <img src="{% static 'image/baby-boy.png' %}" width="22" height="22" class="{% if selected_department == 'เด็ก' %} brightness-200 {% endif %}">
                <div class="text-center text-base font-normal">เด็ก</div>
            </a>

            <a href="?department={{ 'ตา หู คอ จมูก' | urlencode }}" class=" rounded-[50px] inline-flex items-center space-x-3 px-4 py-2
            {% if selected_department == 'ตา หู คอ จมูก' %} text-white cursor-default  bg-[#15CDCB] {% else %} text-[#909090] hover:bg-[#E1F6F5] hover:scale-110 duration-300 transition ease-in-out delay-150 bg-[#efefef] {% endif %}">
                <img src="{% static 'image/visible.png' %}" width="22" height="22" class="{% if selected_department == 'ตา หู คอ จมูก' %} brightness-200 {% endif %}">
                <div class="text-center text-base font-normal">ตา หู คอ จมูก</div>
            </a>

            <a href="?department=ผิวหนัง" class=" rounded-[50px] inline-flex items-center space-x-3 px-4 py-2
            {% if selected_department == 'ผิวหนัง' %} text-white cursor-default  bg-[#15CDCB] {% else %} text-[#909090] hover:bg-[#E1F6F5] hover:scale-110 duration-300 transition ease-in-out delay-150 bg-[#efefef] {% endif %}">
                <img src="{% static 'image/hand.png' %}" width="22" height="22" class="{% if selected_department == 'ผิวหนัง' %} brightness-200 {% endif %}">
                <div class="text-center text-base font-normal">ผิวหนัง</div>
            </a>

            <a href="?department=โรคทั่วไป" class=" rounded-[50px] inline-flex items-center space-x-3 px-4 py-2
            {% if selected_department == 'โรคทั่วไป' %} text-white cursor-default  bg-[#15CDCB] {% else %} text-[#909090] hover:bg-[#E1F6F5] hover:scale-110 duration-300 transition ease-in-out delay-150 bg-[#efefef] {% endif %}">
                <img src="{% static 'image/stethoscope.png' %}" width="22" height="22" class="{% if selected_department == 'โรคทั่วไป' %} brightness-200 {% endif %}">
                <div class="text-center text-base font-normal">โรคทั่วไป</div>
            </a>

            <a href="?department=ผู้หญิง" class=" rounded-[50px] inline-flex items-center space-x-3 px-4 py-2
            {% if selected_department == 'ผู้หญิง' %} text-white cursor-default bg-[#15CDCB] {% else %} text-[#909090] hover:bg-[#E1F6F5] hover:scale-110 duration-300 transition ease-in-out delay-150 bg-[#efefef] {% endif %}">
                <img src="{% static 'image/female.png' %}" width="22" height="22" class="{% if selected_department == 'ผู้หญิง' %} brightness-200 {% endif %}">
                <div class="text-center text-base font-normal">ผู้หญิง</div>
            </a>
        </div>
    </div>

    <div class="w-full flex flex-col justify-center items-center">
        <div class="mt-6 grid grid-cols-3 gap-10">
            {% for doc in page_obj %}
                {% if today_day in doc.day %}
                    <div class="hover:scale-110 duration-300 transition ease-in-out delay-150 shadow-box relative w-[408px] h-auto bg-white rounded-[20px] flex flex-col justify-between p-5">
                        <img class="absolute -top-[15px] left-[0px]" width="203" height="203" src="{{ doc.doctor_image.url }}" />

                        <div class="flex">
                            <div class="w-[180px] h-auto"></div>
                        

                            <div class="flex-grow">
                                
                                <div class="text-left text-[#3d5279] text-xl font-semibold">{{ doc.prefix }} {{ doc.user.first_name }} {{ doc.user.last_name }}</div>
                                

                                <div class="bg-[#d2e0ff] rounded-[30px] mt-3 mb-4 text-left text-[#6986c4] text-base font-normal py-1 px-5 inline-block">
                                    {{ doc.department }}
                                </div>
                                
                                <div class="text-left text-[#494949] text-[18px] font-normal leading-tight">{{ doc.start_time }} - {{ doc.end_time }} น.</div>
                                <div class="text-left text-[#494949] text-[16px] font-normal leading-tight">{{ doc.shift_day }}</div>
                                <div class="flex items-center mt-3 space-x-4">
                                    <div class="text-left text-[#c7c7c7] text-base font-normal">สถานะ :</div>
                                    <div class="bg-[#6ed554] px-5 py-1 rounded-[50px] text-center text-white text-base font-normal">ว่าง</div>
                                </div>
                            </div>
                            
                        </div>
                        
                    
 
                        <div class="w-full mt-4 flex justify-center items-center">
                            <a href="{% url 'appoint:appointment' doc.id current_date %}" class="hover:from-[#15CDCB] hover:to-[#15CDCB] cursor-pointer duration-300 transition ease-in-out delay-150 w-[90%] py-3 bg-gradient-to-r from-[#5280e2] to-[#15cdcb] rounded-[50px] text-center text-white text-xl font-medium">
                                จองคิวพบแพทย์
                            </a>
                        </div>
                    </div>
                {% endif %}
                    
            {% empty %}

                    
            
            {% endfor %}
        </div>

        <div class="pagination m-20">
            <div class="step-links flex items-center space-x-5">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center space-x-3 text-[#494949] hover:text-[#15cdcb] hover:underline hover:decoration-[#15cdcb] hover:underline-offset-4">
                        <img class="" width="22" height="22" src="{% static 'image/back.png' %}" />
                        <div class="text-base font-normal">หน้าก่อน</div>
                    </a>
                {% endif %}
                
                <div class="flex space-x-2 items-center">
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <div class="w-[35px] h-[35px] bg-[#15cdcb] flex justify-center items-center rounded-full text-white text-base font-normal">
                                 {{ num }}
                            </div>
                        {% else %}
                            <a href="?page={{ num }}" class="duration-300 transition ease-in-out delay-150 w-[35px] h-[35px] hover:bg-[#15cdcb] hover:text-white flex justify-center items-center rounded-full text-[#494949] text-base font-normal mx-2">
                                {{ num }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="flex items-center space-x-3 text-[#494949] hover:text-[#15cdcb] hover:underline hover:decoration-[#15cdcb] hover:underline-offset-4">
                        <div class="text-base font-normal">หน้าถัดไป</div>
                        <img class="" width="22" height="22" src="{% static 'image/next.png' %}" />
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<script src="{% static 'js/categories.js' %}"></script>
{% endblock %}
