{% extends 'layout.html' %}
{% load static %}

{% block title %}
    appointment
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block content %}
<div class="container-full flex flex-col justify-center items-center">

    <div class="container m-5 flex space-x-6 justify-start items-center">
        <div class="text-[#909090] text-[20px] font-normal">{{ previous }}</div>
        <img class="" width="14" height="14" src="{% static 'image/play-button.png' %}" />
        <div class="text-center text-[#909090] text-[20px] font-normal">{{doc.prefix}} {{doc.user.first_name}} {{doc.user.last_name}}</div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="text-red-500 mb-4">
            {{ form.nonfield_errors }}
        </div>
        
        <div class="text-red-500 mb-4">
            {{ form.errors }}
        </div>

        <div class="container m-5 flex space-x-6 justify-center items-center p-5">

            <!-- ข้อมูลหมอ -->
            <div class="bg-white rounded-[20px] shadow w-[600px] p-10">
                <div class="flex space-x-4">
                    <div class="w-full h-auto mt-2">
                        <div class="text-start text-[#494949] text-lg font-normal">{{ start }} - {{ end }} น.</div>
                        <div class="text-[#494949] text-base font-normal">{{ doc.shift_day }}</div>
                        <div class="flex space-x-4 items-center">
                            <div class="text-start text-[#c7c7c7] text-base font-normal">สถานะ :</div>
                            {% if today_day in doc.day %}
                                <div class="bg-[#6ED655] rounded-full text-left text-white text-base font-[16px] py-1 px-5">ว่าง</div>
                            {% else %}
                                <div class="bg-[#d2e0ff] rounded-full text-left text-[#6986c4] text-base font-[16px] py-1 px-5">นอกเวลาทำการ</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-[100px] h-[100px] bg-[#e1f6f5] rounded-full flex-none">
                        <img class="rounded-full object-cover w-full h-full" src="{{ doc.doctor_image.url }}" />
                    </div>
                </div>
                <hr class="border-2 border-b-[#efefef] w-full mt-3 mb-5">
                <div class="text-start text-[#3d5279] text-[32px] font-semibold">{{doc.prefix}} {{doc.user.first_name}} {{doc.user.last_name}}</div>
                <div class="bg-[#d2e0ff] rounded-[30px] mt-3 mb-4 text-left text-[#6986c4] text-base font-normal py-1 px-5 inline-block">
                    {{ doc.department }}
                </div>
                <div class="text-[#909090] text-lg font-normal">{{ doc.description }} </div>
            </div>
            
            <!-- กรอกวันที่ต้องการนัด -->
            <div class="h-auto w-full flex flex-col items-center">
                <div class="w-full flex space-x-5 items-center justify-between">
                    <div class="text-center text-[#3d5279] text-[32px] font-semibold">นัดหมายแพทย์</div>
                    <div class="w-[350px] flex items-center relative">
                        {{ form.appointment_date }}
                        <img src="{% static 'image/greycalendar.png' %}" onclick="openDatePicker('startDate')" class="cursor-pointer absolute right-6" width="27" height="27">
                    </div>

                </div>
                <div class="w-full text-start text-[#909090] text-lg font-normal">กรุณาเลือกวันนัดหมายที่ต้องการ</div>
                
                <div class="flex justify-between items-center">
                    
                    <img width="50" height="50" src="{% static 'image\left-arrow (2).png' %}">
                    
                    <div id="dateGrid" class="grid grid-cols-7 grid-cols-1 gap-[26px] m-16">
                        {% for i in week %}
                            <div class="relative bg-[#E1F6F5] text-[#3E5279] rounded-[10px] flex flex-col justify-center items-center p-6">
                                <div id="day{{i}}" class="text-center text-lg font-normal"></div>
                                <div id="date{{i}}" class="text-center text-[32px] font-medium"></div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <img width="50" height="50" src="{% static 'image\left-arrow (2).png' %}" class="rotate-180">
                    
                </div>
                
                
            </div>
            
        </div>
        
        <div class="container my-5 mx-20 flex justify-center items-center p-5 flex-col">
            <div class="text-start w-full text-[#3d5279] text-[32px] font-semibold" id="formattedDate"></div>
            <div class="text-[#909090] text-lg font-normal text-start w-full ">กรุณาเลือกเวลานัดหมาย</div>

            <!-- เลือกเวลานัด  -->
            {{ form.appointment_time }}
            <div class="grid grid-cols-6 gap-2 my-16">
                {% for start_time, end_time, status in updated_times %}
                    {% if start_time|slice:":2" == "12" %}
                        {% if start_time == "12:00" %}
                            <div class="col-span-6 border-y-2 border-[#EBEBEB] py-3 px-5 text-center text-[#909090] text-lg font-normal">
                                ช่วงพักกลางวัน: 12:00 - 13:00 น.
                            </div>
                        {% endif %}
                    {% else %}
                        {% if status == "in_range" %}
                            <div class="time-slot bg-[#e1f6f5] rounded-[20px] flex space-x-3 py-3 px-5 cursor-pointer" data-start="{{ start_time }}">
                                <div class="text-[#3d5279] text-lg font-normal">{{ start_time }}</div>
                                <img class="" width="22" height="22" src="{% static 'image/arrow.png' %}" />
                                <div class="text-[#3d5279] text-lg font-normal">{{ end_time }}</div>
                            </div>
                        {% else %}
                            <div class="bg-[#EBEBEB] rounded-[20px] flex space-x-3 py-3 px-5" data-start="{{ start_time }}">
                                <div class="text-[#C8C8C8] text-lg font-normal">{{ start_time }}</div>
                                <img class="" width="22" height="22" src="{% static 'image/arrow.png' %}" />
                                <div class="text-[#C8C8C8] text-lg font-normal">{{ end_time }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            
            
            <script>
                document.querySelectorAll('.time-slot').forEach(slot => {
                    slot.addEventListener('click', function() {
                        // ลบคลาสที่ active ออกจากช่องเวลาอื่น ๆ
                        document.querySelectorAll('.time-slot').forEach(s => s.classList.remove('bg-blue-200'));
                        
                        // เพิ่มคลาส active ให้กับช่องเวลาที่ถูกคลิก
                        this.classList.add('bg-blue-200');
                        
                        // เก็บค่าเวลาที่เลือก
                        const appointmentTime = this.getAttribute('data-start');
                        
                        // กำหนดค่าให้กับ input hidden ที่จะส่งไปกับ form
                        document.querySelector('input[name="appointment_time"]').value = appointmentTime;
                        
                        // แสดงผลเวลาเพื่อทดสอบ (optional)
                        console.log(`Selected appointment time: ${appointmentTime}`);
                    });
                });
                </script>

            <!-- กรอกอาการ -->
            <div class="text-start w-full text-[#3d5279] text-[32px] font-semibold">อาการ</div>
            <div class="text-[#909090] text-lg font-normal text-start w-full ">กรุณากรอกรายละเอียดเพื่อการรักษาที่ถูกต้อง</div>

            <div class="w-full flex justify-start">
                <div class="flex justify-center items-center grid grid-cols-[auto,1fr] gap-y-5">
        
                    <div class="text-[#494949] text-lg font-normal">อาการ :</div>
                    {{ form.symptom }}
                    
                    <div class="text-[#494949] text-lg font-normal">มีอาการตั้งแต่  : </div>
                    <div class="w-[350px] flex items-center relative">
                        {{ form.start_sympDate }}
                        <img src="{% static 'image/greycalendar.png' %}" onclick="openDatePicker('sympDate')"  class="cursor-pointer absolute right-6" width="27" height="27">
                    </div>
        
                    <div class="text-[#494949] text-lg font-normal">อุณภูมิร่างกาย : </div>
                    <div class="relative flex items-center w-[350px]">
                        {{ form.temperature }}
                        <div class="absolute text-[#c7c7c7] text-base font-normal right-[35px]">องศาเซลเซียส</div>
                    </div>
        
                </div>
            </div>

            <button type="submit" class="bg-gradient-to-r from-[#5280e2] to-[#15cdcb] rounded-[50px] text-center text-white text-xl font-medium w-[30%] py-4">จองคิวพบแพทย์</button>
        </div>
    </form>
</div>

<script type="application/json" id="docDaysData">
    {{ doc_days_json }}
</script>
<script src="{% static 'js/dateInput.js' %}"></script>

{% endblock %}